<p id="notice"><%= notice %></p>

<h1>Listing Rates Schedules</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates_schedules.each do |rates_schedule| %>
      <tr>
        <td><%= rates_schedule.from %></td>
        <td><%= rates_schedule.to %></td>
        <td><%= rates_schedule.rate %></td>
        <td><%= link_to 'Show', rates_schedule %></td>
        <td><%= link_to 'Edit', edit_rates_schedule_path(rates_schedule) %></td>
        <td><%= link_to 'Destroy', rates_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rates schedule', new_rates_schedule_path %>
