<p id="notice"><%= notice %></p>

<p>
  <strong>Onepax:</strong>
  <%= @rates_category.onepax %>
</p>

<p>
  <strong>Twopax:</strong>
  <%= @rates_category.twopax %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @rates_category.extra %>
</p>

<p>
  <strong>Onepaxsp:</strong>
  <%= @rates_category.onepaxsp %>
</p>

<p>
  <strong>Twopaxsp:</strong>
  <%= @rates_category.twopaxsp %>
</p>

<p>
  <strong>Extrasp:</strong>
  <%= @rates_category.extrasp %>
</p>

<p>
  <strong>Rooms category:</strong>
  <%= @rates_category.rooms_category %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @rates_category.rate %>
</p>

<%= link_to 'Edit', edit_rates_category_path(@rates_category) %> |
<%= link_to 'Back', rates_categories_path %>
